/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

/* Banner */
.field-name-field-quotes {
  display:inline-block;
  position: absolute;
  width: 300px;
  font-size: 40px;
  color: #fff;
  top: 9%;
  padding-left: 10%;
  text-shadow: 1px 1px 1px #050505;
  font-weight:700;
  line-height:1.1;
}

.block-news-frontpage-block {
  display:inline-block;
  width:50%;
  position: absolute;
  right: 0;
  top: 5%;
  float:left;
  .views-row {
    margin-bottom:6px;
    width:85%;
    padding:4px;
    position:relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    .views-field-title {
      a {
        color:#fff;
        text-transform: uppercase;
        font-size:15px;
      }
    }
  }
  .views-field-view-node a {
    font-size: 1px;
    content: "";
    background: url("img/arrow.jpg") no-repeat 0 0;
    width: 33px;
    display: inline-block;
    height: 35px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 33px;
  }
}


/* homepage */
.front {
  .zone-content-wrapper {
    .block-main {
      width: 100%;
      .group-left {
        width: 100%;
      }
      .node-front {
        .field-name-field-film {
          iframe {
            width: 337px;
            height: 230px;
          }
        }
      }
    }
    .block-views-agenda-block {
      width:100%;
    }
  }
}


