/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

/* Banner */

  .field-name-field-quotes {
    display:inline-block;
    position: absolute;
    width: 300px;
    font-size: 38px;
    color: #fff;
    top: 20%;
    padding-left: 5%;
    text-shadow: 1px 1px 1px #050505;
    font-weight:700;
    line-height:1.1;
    text-transform:uppercase;
  }
  .field-name-field-quotes::first-line {
    color:$orange;
  }


.block-news-frontpage-block {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  position: absolute;
  right: 61px;
  top: 10%;
  float: right;
  .views-row {
    margin-bottom:6px;
    //width:88%;
    padding:4px;
    position:relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    .views-field-title {
      a {
        color:#fff;
        text-transform: uppercase;
        font-size:15px;
      }
    }
  }
  .views-field-view-node a {
    font-size: 1px;
    content: "";
    background: url("img/arrow.jpg") no-repeat 0 0;
    width: 33px;
    display: inline-block;
    height: 35px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 33px;
  }
}

.views-field-field-banner {
  display:inline;
}

/* Slideshow */


#block-views-sponsoren-block {
  .views-slideshow-controls-text-previous {
    background-size: 29px;
    top:32%;
  }
  .views-slideshow-controls-text-next {
    background-size: 29px;
    top:32%;
  }
  .views-slideshow-controls-text-previous:hover {
    background-size: 29px;
    top:32%;
  }
  .views-slideshow-controls-text-next:hover {
    background-size: 29px;
    top:32%;
  }
}

.view-zinema {
  .views-row {
    width:50%;
    float:left;
    height:255px;
    iframe.media-youtube-player {
      width:100%;
      height:230px;
    }
    .views-field-title {
      width:50%;
      float:left;
    }
    .views-field-field-catogorie {
      width:50%;
      float:left;
      color:$orange;
    }
  }
}

.node-zinema {
  iframe.media-youtube-player {
    width:640px;
    height:390px;
  }
}

/* Contact */
.context-contact {
  .zone-postscript {
    p {
      margin-bottom:0;
    }
    iframe {
      height:350px;
    }
  }
}

.context-eventz {
  .view-agenda {
    .views-row {
      width:33.3%;
      margin-bottom:50px;
      float:left;
      position:relative;
      box-sizing:border-box;
      padding:2%;
      .field-name-field-inhoud {
        text-align:center;
        height:176px;
      }
    }
  }
}

.entity-paragraphs-item {
  .field-name-field-video {
    iframe {
      width:640px;
      height:390px;
    }
  }
}


/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  float:left;
  width:50%;
  .webform-datepicker {
    select {
      width:16%;
      float:left;
    }
  }
}

.context-filmrecruitz {
  input[type="submit"] {
    float:right;
    margin-right:10%;
  }
}

.branding-data {
  width:100%;
  float:none;
}

#search-block-form {
  width:60%;
  float:none;
  margin-left:10%;
  float:left;
  position:relative;
}


/* news */
.view-display-id-page_1 {
  .views-row {
    margin-bottom:20px;
  }
}

.region-user-first {
  .block-block-2 {
    width:28%;
    float:right;
    margin-top:3px;
  }
}

.block-search {
  display:inline;
  width:50%;
  float:right;
  #search-block-form {
    width:87%;
  }
}



.region-footer-first {
  .block-menu {
    li {
      width:20%;
      height:183px;
    }
  }
}

.context-filmrecruitzz, .context-filmrecruitz {
  .region-user-first {
    .block-block-2 {
      width:27%;
    }
  }
}

.block-filmrecruitz-block {
  display: inline-block;
  width: 29%;
  position: absolute;
  right: 19%;
  top: 10%;

  float: left;
  z-index: 100;
  .views-row {
    cursor: pointer;
    position:relative;
    margin-bottom: 8px;
    //width: 85%;
    padding: 12px;
    background-color: rgba(70, 136, 200, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    a:after {
      content: "";
      background: url("img/arrow.jpg");
      background-repeat: no-repeat;
      background-size: 48px;
      height: 51px;
      width: 45px;
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      color:#fff;
      font-size:18px;
      text-transform:uppercase;
    }
  }
}

.field-name-field-content {
  .field-item {
    width: 33.3%;
    float: left;
    color: #fff;
    box-sizing: border-box;
    padding-right: 4%;
  }
}

.block-cast-crew-slideshow {
  display:inline;
  padding:20px 0;
  .views-row {
    width:25%;
    box-sizing: border-box;
    padding: 0 1%;
    float:left;
  }
  .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 31%;
    left: -22px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
    text-indent: -9999px;
  }
  .views-slideshow-controls-text-pause {
    display:none;
  }
  .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top:31%;
    right: 2px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
  }
  .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 24px;
    width:24px;
    height: 100px;
  }
  .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
  }
}

.block-block-3, .block-block-4, .block-block-5, .block-block-6, .block-block-8, .block-block-10, .block-block-9, .block-block-11{
  width:50%;
  float:left;
  .orange {
    h2 {
      font-size:50px;
    }
  }

  .blue {
    h2 {
      font-size:50px;
    }
  }
}

.block-superfish-2, .block-superfish-3 {
  float:left;
  padding-bottom:10px;
  width:100%;

  margin-top:20px;
  ul {
    li {
      a {
        font-size: 18px;
        padding: 0px 11px;
      }
    }
  }
}

#block-views-filmrecruitz-switch {
  a {
    width:50%;
    float:left;
  }
  a.active {
    width:100%;
    float:left;
  }
}

.block-views-eenvoudigepagina-block {
  display:inline;
  top: 19%;
  .views-row {
    .field-name-field-link-filmrecruitz {
      width: 85%;
    }
  }
}

.view-id-filmfestival {
  .views-row {
    width:33.3%;
    box-sizing: border-box;
    height:325px;
    padding: 7px;
    .views-field-title {
      font-size: 16px;
    }
  }
}

.context-nieuws {
  .group-left {
    .field-name-field-image {
      width:76%;
    }
    width:26%!important;
  }
  .group-right {
    width:74%!important;
    .field-name-title {
      float:left;
      h2 {
        font-size: 18px;
      }
      a {
        color:#000;
        width:50%;
        font-size:30px;
      }
    }
    .field-name-field-date {
      width:65%;
      float:left;
      text-transform:uppercase;
      font-weight:700;
    }
    .field-name-field-samenvatting {
      width:100%;
      float:left;
    }
    .field-name-node-link {
      width:100%;
      float:left;
      a {
        color:#fff;
        width:17%;
        background-color:#000;
        float:right;
        text-align:center;
      }
    }
  }
  .view-header {
    color:$orange;
    font-size:46px;
    font-weight:700;
    text-transform:uppercase;
  }
}


.paragraphs-item-2-kolommen-tekst-video {
  .group-left {
    width:60%!important;
  }
  .group-right {
    width:33.1%!important;
    .field-name-field-video {
      .field-items {
        .field-item {
          width:33.3%;
          iframe {
            width:253px;
            height:238px;
          }
        }
      }
    }
  }
}

.zone-preface-wrapper {
  padding-top:50px;
}

#block-bean-logo-0, #block-bean-socialmedia, #block-bean-filmrecruitz-footer {
  img {
    float:right;
    padding-top:10px;
  }
}

.context-filmrecruitzz, .context-filmrecruitz {
  .region-user-first {
    .block-block-2 {
      width:28%;
      float:right;
    }
  }
}

.views-widget-filter-field_catogorie_cast_crew_tid {
  .form-item-field-catogorie-cast-crew-tid {
    padding: 3px 10px;
    margin: 0 5px;
  }
  .form-item-field-catogorie-cast-crew-tid.active {
    padding: 3px 10px;
    margin:0 5px;
  }
}

.block-views-exp-cast-crew-page {
  width:100%;
}

.page-filmrecruitz-cast, .page-filmrecruitz-crew {
  .block-webform {
    width: 100%;
  }
}


.block-views-exp-cast-crew-page-1 {
  width:100%;
  float:left;
}

.views-widget-filter-field_categorie_crew_tid {
  label[for=edit-field-categorie-crew-tid] {
    margin:0 0px;
  }
  .form-item-field-categorie-crew-tid {
    padding: 3px 10px;
    margin: 0 5px;
    margin-bottom:10px;
  }
  .form-item-field-categorie-crew-tid.active {
    padding: 3px 10px;
    margin:0 5px;
  }
}

.node-type-crew {
  .group-left {
    width:30%!important;
    .field-name-field-profielfoto {
      width:90%;
    }
  }
  .group-middle {
    width:30%!important;
  }
  .group-right {
 width:33%!important;
  }
}

.field-name-field-jury {
  .field-items {
    .field-item {
      width:33.3%;
      float:left;
      text-align:center;
      box-sizing:border-box;
      padding:0 10px;
      .field-item {
        width:100%;
      }
    }
  }
}

.paragraphs-item-2-kolommen-tekst-30-afbeelding-7 {
  .group-left {
    width:33%;
  }
  .group-right {
    width:65.5%;
    img {
      float:right;
    }
  }
}

.field-name-field-tekst-3-kolommen {
  .field-items {
    .field-item {
      width: 33.3%;
    }
  }
}

.paragraphs-item-1-kolom-tekst-33-3-breed {
  width: 33.3%;
  padding-right: 6%;
}



.region-footer-first {
  .block-menu {
    display:inline;
    li {
      float:left;
      width:50%;
      margin:0;
      padding:0;
      text-decoration:none;
      list-style:none;
      a {
        color:#fff;
        font-size:16px;
      }
      ul {
        li {
          float:none;
          width:100%;
          height:auto;
          a {
            font-size: 12px;
            font-weight: 100;
          }
        }
      }
    }
    li.last {
      height:auto;
    }
  }
}


.field-collection-item-field-event {
  border-bottom: 1px solid $orange;
  padding-bottom: 50px;
  .group-right {
    width:50%;
    .field-name-field-cta {
      background-color: $orange;
      padding: 10px 20px;
      a {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
  .group-left {
    width:50%;
    float:left;
  }
  .field-collection-item-field-afbeeldingen {
    width:25%;
    float:left;
    .field-name-field-titel {
      font-size: 15px;
      text-align: center;
      font-weight: 700;
      width: 89%;
      margin: 0 auto;
      height:53px;
    }
  }
  .group-footer {
    padding-top: 43px;
  }
}

.paragraphs-item-2-kolommen-tekst-afbeelding-link {
  .group-left {
    box-sizing:border-box;
    padding-right:20px;
  }
}



.view-zinema .views-row-1, .view-zinema .views-row-4, .view-zinema .views-row-7 {
  box-sizing: border-box;
  padding-right: 10px;
}
.view-zinema .views-row-2, .view-zinema .views-row-5, .view-zinema .views-row-8 {
  box-sizing: border-box;
  padding: 0px 10px;
}
.view-zinema .views-row-3, .view-zinema .views-row-6, .view-zinema .views-row-9 {
  box-sizing: border-box;
  padding-left: 10px;
}

.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  .group-right {
    .field-name-field-afbeelding-rechts{
      float:right;
    }
  }
}

#block-system-main{
  .view-cast-crew{
    .views-row{
      position: relative;
      width: 22.73%;
      float:left;
      margin-bottom: 20px;
      margin-right: 20px;
      .views-field-title{
        display: flex;
        justify-content: center;
        align-items: center;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        text-align: center;

        position: absolute;
        top: 0;
        z-index: 997;
        a{
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          color: transparent;
        }

        background: transparent;
      }
      .views-field-title:hover{
        background: rgba(70, 136, 200, 0.49);
        a{
          color: #fff;
        }
      }
    }
    $int: 4;
    @while $int < 200{
      .views-row-#{$int}{
        margin-right: 0;
        $int: $int + 4;
      }
    }

    $int: 5;
    @while $int < 200{
      .views-row-#{$int}{
        clear:left;
        $int: $int + 4;
      }
    }
  }
}