/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
.ds-2col > .group-left {
  float: left;
  width: 50%; }

.ds-2col > .group-right {
  float: left;
  width: 50%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 48.75%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left {
    margin-right: 2.5%; }

/* Banner */
.field-name-field-quotes {
  display: inline-block;
  position: absolute;
  width: 300px;
  font-size: 38px;
  color: #fff;
  top: 9%;
  padding-left: 5%;
  text-shadow: 1px 1px 1px #050505;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase; }

.field-name-field-quotes::first-line {
  color: #f78b1f; }

.block-news-frontpage-block {
  cursor: pointer;
  display: inline-block;
  width: 48%;
  position: absolute;
  right: 0px;
  top: 10%;
  float: right; }
  .block-news-frontpage-block .views-row {
    margin-bottom: 6px;
    width: 88%;
    padding: 4px;
    position: relative;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
    .block-news-frontpage-block .views-row .views-field-title a {
      color: #fff;
      text-transform: uppercase;
      font-size: 15px; }
  .block-news-frontpage-block .views-field-view-node a {
    font-size: 1px;
    content: "";
    background: url("img/arrow.jpg") no-repeat 0 0;
    width: 33px;
    display: inline-block;
    height: 35px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 33px; }

.views-field-field-banner {
  display: inline; }

/* Slideshow */
#block-views-sponsoren-block .views-slideshow-controls-text-previous {
  background-size: 29px;
  top: 32%; }
#block-views-sponsoren-block .views-slideshow-controls-text-next {
  background-size: 29px;
  top: 32%; }
#block-views-sponsoren-block .views-slideshow-controls-text-previous:hover {
  background-size: 29px;
  top: 32%; }
#block-views-sponsoren-block .views-slideshow-controls-text-next:hover {
  background-size: 29px;
  top: 32%; }

.view-zinema .views-row {
  width: 50%;
  float: left;
  height: 255px; }
  .view-zinema .views-row iframe.media-youtube-player {
    width: 305.5px;
    height: 200px; }
  .view-zinema .views-row .views-field-title {
    width: 50%;
    float: left; }
  .view-zinema .views-row .views-field-field-catogorie {
    width: 50%;
    float: left;
    color: #f78b1f; }

.node-zinema iframe.media-youtube-player {
  width: 640px;
  height: 390px; }

/* Contact */
.context-contact .zone-postscript p {
  margin-bottom: 0; }
.context-contact .zone-postscript iframe {
  height: 350px; }

.context-eventz .view-agenda .views-row {
  width: 33.3%;
  margin-bottom: 50px;
  float: left;
  position: relative;
  box-sizing: border-box;
  padding: 2%; }
  .context-eventz .view-agenda .views-row .field-name-field-inhoud {
    text-align: center;
    height: 176px; }

.entity-paragraphs-item .field-name-field-video iframe {
  width: 640px;
  height: 390px; }

/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  float: left;
  width: 50%; }
  .webform-component--persoonsgegevens .webform-datepicker select, .webform-component--over-mij .webform-datepicker select {
    width: 11%;
    float: left; }

.context-filmrecruitz input[type="submit"] {
  float: right;
  margin-right: 10%; }

.branding-data {
  width: 100%;
  float: none; }

#search-block-form {
  width: 60%;
  float: none; }

/* news */
.view-display-id-page_1 .views-row {
  margin-bottom: 20px; }

.region-user-first .block-block-2 {
  width: 28%;
  float: right;
  margin-top: 3px; }

.block-search {
  display: inline;
  width: 50%;
  float: right; }
  .block-search #search-block-form {
    width: 87%; }

.region-footer-first .block-menu li {
  width: 20%;
  height: 183px; }

.context-filmrecruitzz .region-user-first .block-block-2, .context-filmrecruitz .region-user-first .block-block-2 {
  width: 27%; }

.block-filmrecruitz-block {
  display: inline-block;
  width: 50%;
  position: absolute;
  right: 0;
  top: 9%;
  float: left;
  z-index: 100; }
  .block-filmrecruitz-block .views-row {
    cursor: pointer;
    position: relative;
    margin-bottom: 8px;
    width: 85%;
    padding: 12px;
    background-color: rgba(70, 136, 200, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
    .block-filmrecruitz-block .views-row a:after {
      content: "";
      background: url("img/arrow.jpg");
      background-repeat: no-repeat;
      background-size: 48px;
      height: 51px;
      width: 45px;
      position: absolute;
      right: 0;
      top: 0; }
    .block-filmrecruitz-block .views-row a {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }

.field-name-field-content .field-item {
  width: 33.3%;
  float: left;
  color: #fff;
  box-sizing: border-box;
  padding-right: 4%; }

.block-cast-crew-slideshow {
  display: inline;
  padding: 20px 0; }
  .block-cast-crew-slideshow .views-row {
    width: 25%;
    box-sizing: border-box;
    padding: 0 1%; }
  .block-cast-crew-slideshow .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 31%;
    left: -31px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
    text-indent: -9999px; }
  .block-cast-crew-slideshow .views-slideshow-controls-text-pause {
    display: none; }
  .block-cast-crew-slideshow .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 31%;
    right: -31px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px; }
  .block-cast-crew-slideshow .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px; }
  .block-cast-crew-slideshow .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px; }

.block-block-3, .block-block-4, .block-block-5, .block-block-6, .block-block-8, .block-block-10, .block-block-9, .block-block-11 {
  width: 50%;
  float: left; }
  .block-block-3 .orange h2, .block-block-4 .orange h2, .block-block-5 .orange h2, .block-block-6 .orange h2, .block-block-8 .orange h2, .block-block-10 .orange h2, .block-block-9 .orange h2, .block-block-11 .orange h2 {
    font-size: 50px; }
  .block-block-3 .blue h2, .block-block-4 .blue h2, .block-block-5 .blue h2, .block-block-6 .blue h2, .block-block-8 .blue h2, .block-block-10 .blue h2, .block-block-9 .blue h2, .block-block-11 .blue h2 {
    font-size: 50px; }

.block-superfish-2, .block-superfish-3 {
  float: left;
  padding-bottom: 10px;
  width: 50%;
  margin-top: 20px; }
  .block-superfish-2 ul li a, .block-superfish-3 ul li a {
    font-size: 18px;
    padding: 0px 11px; }

#block-views-filmrecruitz-switch a {
  width: 50%;
  float: left; }
#block-views-filmrecruitz-switch a.active {
  width: 100%;
  float: left; }

.block-views-eenvoudigepagina-block {
  display: inline;
  top: 8%; }
  .block-views-eenvoudigepagina-block .views-row .field-name-field-link-filmrecruitz {
    width: 85%; }

.view-id-filmfestival .views-row {
  width: 33.3%;
  box-sizing: border-box;
  height: 325px;
  padding: 7px; }
  .view-id-filmfestival .views-row .views-field-title {
    font-size: 16px; }

.context-nieuws .group-left {
  width: 26% !important; }
  .context-nieuws .group-left .field-name-field-image {
    width: 76%; }
.context-nieuws .group-right {
  width: 74% !important; }
  .context-nieuws .group-right .field-name-title {
    width: 35%;
    float: left; }
    .context-nieuws .group-right .field-name-title h2 {
      font-size: 18px; }
    .context-nieuws .group-right .field-name-title a {
      color: #000;
      width: 50%;
      font-size: 30px; }
  .context-nieuws .group-right .field-name-field-date {
    width: 65%;
    float: left;
    text-transform: uppercase;
    font-weight: 700; }
  .context-nieuws .group-right .field-name-field-samenvatting {
    width: 100%;
    float: left; }
  .context-nieuws .group-right .field-name-node-link {
    width: 100%;
    float: left; }
    .context-nieuws .group-right .field-name-node-link a {
      color: #fff;
      width: 17%;
      background-color: #000;
      float: right;
      text-align: center; }
.context-nieuws .view-header {
  color: #f78b1f;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase; }

.paragraphs-item-3-kolommen-video-s .field-name-field-videos .field-items .field-item {
  width: 33.3%; }
  .paragraphs-item-3-kolommen-video-s .field-name-field-videos .field-items .field-item iframe {
    width: 225px;
    height: 211px; }

.paragraphs-item-2-kolommen-tekst-video .group-left {
  width: 60% !important; }
.paragraphs-item-2-kolommen-tekst-video .group-right {
  width: 33% !important; }
  .paragraphs-item-2-kolommen-tekst-video .group-right .field-name-field-video .field-items .field-item {
    width: 33.3%; }
    .paragraphs-item-2-kolommen-tekst-video .group-right .field-name-field-video .field-items .field-item iframe {
      width: 253px;
      height: 238px; }

.paragraphs-item-3-kolommen-tekst-video-tekst .field-name-field-video .field-items .field-item iframe {
  width: 228px;
  height: 200px; }

.front .zone-preface-wrapper {
  padding-bottom: 50px; }

.zone-preface-wrapper {
  padding-top: 50px; }

#block-bean-logo-0 img, #block-bean-socialmedia img {
  float: right;
  padding-top: 10px; }

.context-filmrecruitzz .region-user-first .block-block-2, .context-filmrecruitz .region-user-first .block-block-2 {
  width: 16%;
  float: right; }

.views-widget-filter-field_catogorie_cast_crew_tid .form-item-field-catogorie-cast-crew-tid {
  padding: 3px 20px;
  margin: 0 10px; }
.views-widget-filter-field_catogorie_cast_crew_tid .form-item-field-catogorie-cast-crew-tid.active {
  padding: 3px 20px;
  margin: 0 10px; }

.block-views-exp-cast-crew-page {
  width: 80%; }

.page-filmrecruitz-cast .block-webform, .page-filmrecruitz-crew .block-webform {
  width: 15%; }

.view-id-cast_crew .views-row {
  width: 25%; }
.view-id-cast_crew .views-field-field-naam {
  display: none;
  position: absolute;
  top: 85px;
  left: 20px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  border-bottom: 1px solid; }
.view-id-cast_crew .views-field-field-profielfoto {
  margin-top: -300px;
  width: 83%; }

.block-views-exp-cast-crew-page-1 {
  width: 85%;
  float: left; }

.views-widget-filter-field_categorie_crew_tid label[for=edit-field-categorie-crew-tid] {
  margin: 0 10px; }
.views-widget-filter-field_categorie_crew_tid .form-item-field-categorie-crew-tid {
  padding: 3px 20px;
  margin: 0 10px; }
.views-widget-filter-field_categorie_crew_tid .form-item-field-categorie-crew-tid.active {
  padding: 3px 20px;
  margin: 0 10px; }

.node-type-crew .group-left {
  width: 30% !important; }
  .node-type-crew .group-left .field-name-field-profielfoto {
    width: 90%; }
.node-type-crew .group-middle {
  width: 30% !important; }
.node-type-crew .group-right {
  width: 33% !important; }

.field-name-field-jury .field-items .field-item {
  width: 33.3%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px; }
  .field-name-field-jury .field-items .field-item .field-item {
    width: 100%; }

.paragraphs-item-2-kolommen-tekst-30-afbeelding-7 .group-left {
  width: 33%; }
.paragraphs-item-2-kolommen-tekst-30-afbeelding-7 .group-right {
  width: 66%; }

.field-name-field-tekst-3-kolommen .field-items .field-item {
  width: 33.3%; }

.paragraphs-item-1-kolom-tekst-33-3-breed {
  width: 33.3%;
  padding-right: 6%; }

.paragraphs-item-3-kolommen-tekst-video-tekst .group-left {
  width: 33%; }
.paragraphs-item-3-kolommen-tekst-video-tekst .group-middle {
  width: 34%;
  margin-top: 0px; }
.paragraphs-item-3-kolommen-tekst-video-tekst .group-right {
  width: 33%;
  margin-top: 0px; }

/*# sourceMappingURL=default-alpha-default-narrow.css.map */
