/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'variables';

  .field-name-field-quotes {
    display:inline-block;
    position: absolute;
    width: 300px;
    font-size: 39px;
    color: #fff;
    top: 17%;
    padding-left: 4%;
    text-shadow: 1px 1px 1px #050505;
    font-weight:700;
    line-height:1.1;
  }


.block-news-frontpage-block {
  right: 110px;
  .views-row {
    margin-bottom:8px;
    //width:92%;
    padding:6px;
  }
  .views-field-view-node a {
    width: 36px;
    height: 40px;
    background-size: 37px;
  }
}

.view-zinema {
  .views-row {
    width:33.3%;
  }
}

.context-eventz {
  .view-agenda {
    .views-row {
      width:33.3%;
      margin-bottom:50px;
      float:left;
      position:relative;
      box-sizing:border-box;
      padding:2%;
      .field-name-field-inhoud {
        text-align:center;
        height:150px;
      }
    }
  }
}

.region-user-first {
  .block-block-2 {
    width:20%;
    float:right;
    margin-top:3px;
  }
}

.context-filmrecruitzz, .context-filmrecruitz {
  .region-user-first {
    .block-block-2 {
      width:20%;
    }
  }
}

.block-filmrecruitz-block {
  .views-row {
    //width: 89%;
  }
}

.paragraphs-item-3-kolommen-video-s {
  .field-name-field-videos {
    .field-items {
      .field-item {
        width:33.3%;
        float:left;
        iframe {
          width:297px;
          height:231px;

        }
      }
    }
  }
}

.paragraphs-item-2-kolommen-tekst-video {
  .group-right {
    .field-name-field-video {
      .field-items {
        .field-item {
          iframe {
            width:317px;
            height:267px;
          }
        }
      }
    }
  }
}

.block-views-eenvoudigepagina-block {
  top: 17%;
  .views-row {
    .field-name-field-link-filmrecruitz {
      width: 91%;
    }
  }
}

.paragraphs-item-3-kolommen-tekst-video-tekst {
  .field-name-field-video {
    .field-items {
      .field-item {
        iframe {
          width:300px;
          height:200px;

        }
      }
    }
  }
}

.paragraphs-item-3-kolommen-tekst-video-tekst {
  .group-left {
    width:33%;
  }
  .group-middle {
    width: 34%;
    margin-top: 0px;
    text-align: center;
    padding-left: 27px;
  }
  .group-right {
    width:30%;
    margin-top:0px;
  }
}

.view-id-filmfestival {
  .views-row {
    .views-field-title {
      font-size: 21px;
    }
  }
}

.context-nieuws {
  .group-right {
    .field-name-title {
      h2 {
        a {
          font-size: 23px;
        }
      }
    }
    .field-name-node-link {
      a {
        width:14%;
      }
    }
  }
}

.block-views-exp-cast-crew-page {
  width:59%;
}

.page-filmrecruitz-cast, .page-filmrecruitz-crew {
  .block-webform {
    width: 100%;
  }
}

.page-filmrecruitz-cast {
  .block-webform {
    width:29%;
  }
}

.block-views-exp-cast-crew-page-1 {
  width:100%;

  float:left;
}

.block-cast-crew-slideshow {
  .views-slideshow-controls-text-previous {
    left: -31px;
  }
  .views-slideshow-controls-text-next {
    right: -31px;
  }
}

.block-superfish-2, .block-superfish-3 {
  float:left;
  padding-bottom:10px;
  width:50%;
  margin-top:20px;
  ul {
    li {
      a {
        font-size: 18px;
        padding: 0px 11px;
      }
    }
  }
}

.region-footer-first {
  .block-menu {
    display:inline;
    li {
      float:left;
      width:25%;
      margin:0;
      padding:0;
      text-decoration:none;
      list-style:none;
      a {
        color:#fff;
        font-size:16px;
      }
      ul {
        li {
          float:none;
          width:100%;
          height:auto;
          a {
            font-size: 12px;
            font-weight: 100;
          }
        }
      }
    }
    li.last {
      height:auto;
    }
  }
}

#block-system-main{
  .view-cast-crew{
    .views-row{
      position: relative;
      width: 22.73%;
      float:left;
      margin-bottom: 20px;
      margin-right: 20px;
      .views-field-title{
        display: flex;
        justify-content: center;
        align-items: center;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 100%;
        height: 100%;
        text-align: center;

        position: absolute;
        top: 0;
        z-index: 997;
        a{
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          color: transparent;
        }

        background: transparent;
      }
      .views-field-title:hover{
        background: rgba(70, 77, 255, 0.49);
        a{
          color: #fff;
        }
      }
    }
    $int: 4;
    @while $int < 200{
      .views-row-#{$int}{
        margin-right: 0;
        $int: $int + 4;
      }
    }

    $int: 5;
    @while $int < 200{
      .views-row-#{$int}{
        clear:left;
        $int: $int + 4;
      }
    }
  }
}


