/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Ruda", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Ruda", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Algemeen */
a {
  color: #f78b1f; }

#zone-menu-wrapper {
  background-color: #000; }

#zone-branding-wrapper {
  padding: 20px 0 3px 0;
  background-color: #fff; }

#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0 auto; }
    #zone-header #region-header-first .field-name-field-image img {
      width: 100%; }

.zone-footer-wrapper {
  background-color: #161515;
  padding: 50px 0; }

/* Menu */
.block-superfish-1 ul li {
  margin: 0; }
  .block-superfish-1 ul li a {
    font-family: "Ruda", sans-serif;
    font-size: 0.938em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 15px 0 15px;
    border-right: 2px solid #f78b1f;
    margin: 8px 0; }
  .block-superfish-1 ul li a:hover {
    color: #f78b1f; }
  .block-superfish-1 ul li a.active {
    color: #f78b1f; }
.block-superfish-1 ul li.first a {
  padding: 0 20px 0 0; }
.block-superfish-1 ul li.last a {
  border-right: 0; }

#superfish-1-select {
  background-color: #000;
  color: #fff; }

/* Slideshow */
#block-views-sponsoren-block {
  position: relative;
  margin: 50px 0; }
  #block-views-sponsoren-block .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none; }
  #block-views-sponsoren-block .views-row {
    padding-right: 2%;
    float: left;
    margin: 0 auto;
    width: 23%; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 32%;
    left: 0px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
    text-indent: -9999px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-pause {
    display: none; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 32%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }

/* Banner */
.field-name-field-quotes {
  display: none; }

.block-news-frontpage-block {
  display: none; }

.views-field-field-banner {
  display: none; }

/* Nieuws */
.block-superfish-2, .block-superfish-3 {
  float: left;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 20px; }
  .block-superfish-2 h2.block-title, .block-superfish-3 h2.block-title {
    float: left;
    font-size: 18px;
    padding-bottom: 0; }
  .block-superfish-2 ul li, .block-superfish-3 ul li {
    margin: 0;
    margin-left: 0px; }
    .block-superfish-2 ul li a, .block-superfish-3 ul li a {
      font-size: 15px;
      padding: 0px 8px;
      font-weight: 700;
      color: #3989c9;
      text-transform: uppercase;
      border-right: 1px solid #3989c9; }
    .block-superfish-2 ul li a.active, .block-superfish-3 ul li a.active {
      color: #3989c9; }
  .block-superfish-2 ul li.first a, .block-superfish-3 ul li.first a {
    padding-left: 0; }
  .block-superfish-2 ul li.last a, .block-superfish-3 ul li.last a {
    border-right: none; }

/* Home */
.front .view-header {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 600;
  color: #f78b1f;
  text-transform: uppercase; }
.front .zone-postscript {
  width: 100%; }
.front .region-postscript-first {
  width: 100%;
  margin: 0; }
  .front .region-postscript-first img {
    width: 100%;
    margin: 0 auto; }
.front #region-postscript-first {
  width: 100%; }
.front #zone-content-wrapper {
  background-color: #161515;
  color: #fff; }
  .front #zone-content-wrapper .group-right {
    color: #f78b1f; }
    .front #zone-content-wrapper .group-right a {
      color: #f78b1f; }

.context-contact #search-block-form input[type="submit"] {
  top: -2.8px; }
.context-contact .zone-postscript {
  width: 100%; }
.context-contact .region-postscript-first {
  width: 100%;
  margin: 0; }
.context-contact #region-postscript-first {
  width: 100%; }

/* Agenda */
.front #block-views-agenda-block h2.block-title {
  text-transform: uppercase;
  padding-bottom: 18px; }
.front #block-views-agenda-block .views-field-field-datum, .front #block-views-agenda-block .views-field-title {
  font-size: 14px; }
.front #block-views-agenda-block .views-field-field-datum {
  width: 30%;
  float: left; }
.front #block-views-agenda-block .views-field-title {
  width: 70%;
  float: left; }
.front #block-views-agenda-block .views-row-last {
  padding: 50px 0; }

.context-eventz .view-agenda .views-row {
  width: 100%;
  margin-bottom: 50px;
  float: left;
  position: relative;
  box-sizing: border-box;
  padding: 2%; }
  .context-eventz .view-agenda .views-row .field-name-field-datum {
    width: 100%;
    float: left;
    color: #f78b1f;
    text-align: center; }
  .context-eventz .view-agenda .views-row .field-name-title {
    width: 100%;
    float: left;
    text-align: center; }
    .context-eventz .view-agenda .views-row .field-name-title h2 {
      font-size: 16px; }
  .context-eventz .view-agenda .views-row .field-name-field-inhoud {
    text-align: center;
    height: 150px; }
  .context-eventz .view-agenda .views-row .field-name-node-link {
    background-color: #000;
    width: 30%;
    margin: 0 auto;
    text-align: center; }
    .context-eventz .view-agenda .views-row .field-name-node-link a {
      color: #fff;
      font-size: 12px; }

.node-agenda .field-name-field-inhoud {
  margin-top: 20px; }
.node-agenda .field-name-field-afbeelding3 {
  width: 100%;
  float: left; }
  .node-agenda .field-name-field-afbeelding3 img {
    float: left; }

.button input[type="button"] {
  padding: 6px 9px;
  background: #000;
  border-radius: 0px;
  color: #fff;
  margin-top: 30px; }

/* Footer */
#block-bean-logo-0 img, #block-bean-socialmedia img, #block-bean-filmrecruitz-footer img {
  float: left;
  padding-top: 32px; }

#block-bean-socialmedia, #block-bean-filmrecruitz-footer {
  margin-top: 20px; }
  #block-bean-socialmedia img, #block-bean-filmrecruitz-footer img {
    padding-right: 1%;
    margin-top: 5px; }
  #block-bean-socialmedia .field-name-field-link-image, #block-bean-filmrecruitz-footer .field-name-field-link-image {
    float: right;
    width: 100%; }

/* Paragraphs */
.paragraphs-item-1-kolom-afbeelding {
  margin-bottom: 20px; }

.paragraphs-item-quote .field-name-field-quotes {
  font-weight: 700;
  text-transform: uppercase;
  color: #f78b1f;
  font-size: 34px;
  text-align: left; }
  .paragraphs-item-quote .field-name-field-quotes .field-item {
    width: 50%; }
.paragraphs-item-quote .field-name-field-naam {
  text-align: right; }
.paragraphs-item-quote .field-name-field-functie {
  text-align: right; }

.entity-paragraphs-item .field-name-field-titel {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2em;
  margin-top: 20px; }
.entity-paragraphs-item .field-name-field-afbeelding img {
  float: left; }
.entity-paragraphs-item .field-name-field-video iframe {
  width: 100%;
  height: auto; }

/* Zinema */
#block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid {
  width: 100%; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid label[for=edit-field-catogorie-tid] {
    margin-right: 20px;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #565754; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid label[for=edit-field-catogorie-tid]:after {
    content: ":"; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid .form-item {
    float: left;
    margin-right: 15px; }
    #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid .form-item label {
      font-size: 15px;
      font-weight: 100;
      color: #565754; }

#block-views-exp-news-page-1 .views-widget-filter-field_categorie_tid {
  width: 100%; }
  #block-views-exp-news-page-1 .views-widget-filter-field_categorie_tid label[for=edit-field-categorie-tid] {
    margin-right: 20px;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #565754; }
  #block-views-exp-news-page-1 .views-widget-filter-field_categorie_tid label[for=edit-field-catogorie-tid]:after {
    content: ":"; }
  #block-views-exp-news-page-1 .views-widget-filter-field_categorie_tid .form-item {
    float: left;
    margin-right: 15px; }
    #block-views-exp-news-page-1 .views-widget-filter-field_categorie_tid .form-item label {
      font-size: 15px;
      font-weight: 100;
      color: #565754; }

.context-nieuws .group-left {
  width: 100% !important; }
  .context-nieuws .group-left .field-name-field-image {
    width: 100%; }
  .context-nieuws .group-left img {
    float: left; }
.context-nieuws .group-right {
  width: 100% !important; }
  .context-nieuws .group-right .field-name-title {
    width: 100%;
    float: left; }
    .context-nieuws .group-right .field-name-title h2 {
      font-size: 25px; }
    .context-nieuws .group-right .field-name-title a {
      color: #000;
      width: 100%;
      font-size: 30px; }
  .context-nieuws .group-right .field-name-field-date {
    width: 100%;
    float: left;
    text-transform: uppercase;
    font-weight: 700; }
  .context-nieuws .group-right .field-name-field-samenvatting {
    width: 100%;
    float: left; }
  .context-nieuws .group-right .field-name-node-link {
    width: 100%;
    float: left; }
    .context-nieuws .group-right .field-name-node-link a {
      color: #fff;
      width: 100%;
      background-color: #000;
      float: right;
      text-align: center;
      margin-bottom: 20px; }
.context-nieuws .view-header {
  color: #f78b1f;
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase; }

.view-zinema .views-row {
  margin-bottom: 40px;
  width: 100%;
  float: left;
  height: auto; }
  .view-zinema .views-row iframe.media-youtube-player {
    width: 100%;
    height: auto; }
  .view-zinema .views-row .views-field-title {
    width: 100%;
    float: left; }
    .view-zinema .views-row .views-field-title a {
      color: #000; }
    .view-zinema .views-row .views-field-title a:hover {
      color: #f78b1f;
      text-decoration: underline; }
  .view-zinema .views-row .views-field-field-catogorie {
    width: 100%;
    float: left;
    color: #f78b1f; }

.node-zinema iframe.media-youtube-player {
  width: 100%;
  height: auto; }

.pager li.pager-next a {
  width: 70px; }

/* Cavak */
.view-id-cavak .views-field-title {
  color: #f78b1f;
  font-size: 46px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700; }

.views-field-field-crew img {
  float: left; }

/* Contact */
.context-contact .zone-postscript p {
  margin-bottom: 0; }
.context-contact .zone-postscript iframe {
  height: 180px; }

/* Sticky menu */
.admin-menu .is-sticky .zone-menu-wrapper {
  top: 28px !important; }
.admin-menu .zone-menu-wrapper {
  top: 114px; }

.zone-menu-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997; }

.is-sticky .zone-menu-wrapper {
  top: 0 !important; }

/* Filmrecruitz */
.context-filmrecruitz #zone-branding-wrapper {
  padding: 20px 0 3px 0;
  background-color: #3989c9; }
.context-filmrecruitz .zone-footer-wrapper {
  background-color: #3989c9; }

.context-filmrecruitzz #zone-content-wrapper {
  background-color: #3989c9; }
.context-filmrecruitzz #zone-branding-wrapper {
  padding: 20px 0 3px 0;
  background-color: #3989c9; }
.context-filmrecruitzz .zone-footer-wrapper {
  background-color: #3989c9; }
.context-filmrecruitzz .field-name-title {
  width: 100%;
  text-align: center; }
  .context-filmrecruitzz .field-name-title h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 100; }

.bean-filmrecruitz-button {
  margin-top: 50px; }
  .bean-filmrecruitz-button .field-items .field-item {
    float: left;
    margin-right: 20px; }

/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  float: left;
  width: 100%; }
  .webform-component--persoonsgegevens span.fieldset-legend, .webform-component--over-mij span.fieldset-legend {
    color: #3989c9; }
  .webform-component--persoonsgegevens label, .webform-component--over-mij label {
    font-size: 12px; }
  .webform-component--persoonsgegevens .webform-datepicker select, .webform-component--over-mij .webform-datepicker select {
    width: 11%;
    float: left; }

.webform-datepicker select {
  width: 11%;
  float: left; }

.context-filmrecruitz input[type="submit"], .context-crew input[type="submit"], .context-cast input[type="submit"] {
  float: right;
  margin-right: 10%;
  background-color: orange;
  padding: 9px 11px;
  border-radius: 0;
  color: #fff;
  font-weight: 100; }

input[type="submit"] {
  float: right;
  margin-right: 10%;
  background-color: orange;
  padding: 7px 11px;
  border-radius: 0;
  color: #fff;
  font-weight: 100; }

.context-contact input[type="submit"] {
  margin-right: 10%;
  background-color: orange;
  padding: 9px 11px;
  border-radius: 0;
  color: #fff;
  font-weight: 100; }

/* Search block */
#search-block-form {
  margin-top: 20px; }
  #search-block-form input[type="submit"] {
    background: none;
    position: absolute;
    top: -1px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    right: -18px; }
  #search-block-form input[type="text"] {
    background-color: #f78b1f;
    width: 100%;
    border: none;
    padding-bottom: 7px; }

.branding-data {
  width: 50%;
  float: left; }

#search-block-form {
  width: 40%;
  float: right;
  position: relative; }

.view-id-cast_crew .views-row {
  width: 100%;
  float: left;
  position: relative; }
.view-id-cast_crew .views-field-field-naam {
  display: none;
  position: absolute;
  top: 85px;
  left: 20px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  border-bottom: 1px solid; }
.view-id-cast_crew .views-field-field-profielfoto {
  margin-top: -300px;
  width: 100%; }
.view-id-cast_crew .field-content.image-main {
  background-color: #3989c9;
  display: inline-block;
  border-radius: 3px; }
  .view-id-cast_crew .field-content.image-main img {
    border-radius: 3px; }
.view-id-cast_crew .views-field-title {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 100%;
  z-index: 5; }
  .view-id-cast_crew .views-field-title span {
    display: none; }

.views-widget-filter-field_catogorie_cast_crew_tid {
  width: 100%;
  font-family: "Ruda", sans-serif;
  font-weight: 100;
  font-size: 14px; }
  .views-widget-filter-field_catogorie_cast_crew_tid .views-exposed-form label {
    font-weight: 100 !important; }
  .views-widget-filter-field_catogorie_cast_crew_tid label[for=edit-field-catogorie-cast-crew-tid] {
    border-radius: 3px;
    color: #000;
    text-align: center;
    padding: 3px;
    float: left;
    margin: 0 0px;
    margin-bottom: 10px; }
  .views-widget-filter-field_catogorie_cast_crew_tid .form-item-field-catogorie-cast-crew-tid {
    float: left;
    background-color: gray;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    float: left;
    margin: 0 5px;
    float: left;
    margin-bottom: 10px; }
    .views-widget-filter-field_catogorie_cast_crew_tid .form-item-field-catogorie-cast-crew-tid input[type="radio"] {
      display: none; }
  .views-widget-filter-field_catogorie_cast_crew_tid .form-item-field-catogorie-cast-crew-tid.active {
    float: left;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 3px 5px;
    float: left;
    margin: 0 5px; }

.views-widget-filter-field_categorie_crew_tid {
  width: 100%;
  font-family: "Ruda", sans-serif;
  font-weight: 100;
  font-size: 14px; }
  .views-widget-filter-field_categorie_crew_tid .views-exposed-form label {
    font-weight: 100 !important; }
  .views-widget-filter-field_categorie_crew_tid label[for=edit-field-categorie-crew-tid] {
    color: #000;
    text-align: center;
    padding: 3px;
    float: left;
    margin: 0 10px;
    margin-bottom: 10px; }
  .views-widget-filter-field_categorie_crew_tid .form-item-field-categorie-crew-tid {
    float: left;
    background-color: gray;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 3px 8px;
    float: left;
    margin: 0 5px;
    float: left;
    margin-bottom: 10px; }
    .views-widget-filter-field_categorie_crew_tid .form-item-field-categorie-crew-tid input[type="radio"] {
      display: none; }
  .views-widget-filter-field_categorie_crew_tid .form-item-field-categorie-crew-tid.active {
    float: left;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 3px 8px;
    float: left;
    margin: 0 5px; }

.node-crew-cast .group-right {
  color: #3989c9; }
.node-crew-cast .field-name-field-naam {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700; }
.node-crew-cast .field-name-field-ervaring {
  color: #3989c9;
  font-size: 14px; }
  .node-crew-cast .field-name-field-ervaring .field-label {
    font-size: 16px;
    font-weight: 100; }
.node-crew-cast .field-name-field-over-mij {
  color: #3989c9;
  font-size: 14px; }
  .node-crew-cast .field-name-field-over-mij .field-label {
    font-size: 16px;
    font-weight: 100; }
.node-crew-cast .field-name-field-foto-s img {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 31px;
  padding-bottom: 31px; }

.context-filmrecruitzz .block-superfish-2 {
  display: none; }

.block-views-exp-cast-crew-page {
  width: 100%;
  float: left; }

.block-views-exp-cast-crew-page-1 {
  width: 100%;
  float: left; }

.page-filmrecruitz-cast .block-webform, .page-filmrecruitz-crew .block-webform {
  width: 100%;
  float: left;
  margin-bottom: 27px;
  margin-top: 19px; }
  .page-filmrecruitz-cast .block-webform .field-name-title a, .page-filmrecruitz-crew .block-webform .field-name-title a {
    background-color: #f78b1f;
    border-radius: 3px;
    color: #000;
    text-align: center;
    padding: 3px 10px;
    float: left;
    margin: 0 0px;
    float: left;
    font-size: 14px;
    margin-top: -12px;
    letter-spacing: initial; }

/* jury */
.field-name-field-jury .field-items .field-item {
  width: 100%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px; }
  .field-name-field-jury .field-items .field-item .field-item {
    width: 100%; }

.paragraphs-item-jury .field-name-field-naam {
  font-size: 26px;
  font-weight: 700; }
.paragraphs-item-jury .field-name-field-functie {
  font-weight: 700;
  font-size: 18px;
  color: #f78b1f; }
.paragraphs-item-jury .field-name-field-tekst {
  padding: 0 15px; }

.paragraphs-item-links-titels-rechts-quote {
  margin-bottom: 50px; }
  .paragraphs-item-links-titels-rechts-quote .field-name-field-titel {
    color: #f78b1f;
    text-align: center;
    font-size: 46px;
    margin-bottom: 0;
    margin-top: 0; }
  .paragraphs-item-links-titels-rechts-quote .field-name-field-subtitel {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 28px; }
  .paragraphs-item-links-titels-rechts-quote .field-name-field-quote {
    font-style: italic;
    font-size: 15px;
    text-align: center; }
    .paragraphs-item-links-titels-rechts-quote .field-name-field-quote .field-item {
      width: 40%;
      margin: 0 auto;
      margin-top: 20px; }

.paragraphs-item-1-kolom-tekst-33-3-breed {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-right: 0%;
  word-break: break-all; }

.region-footer-first .block-menu {
  display: none; }

.block-bean-mail {
  padding-top: 20px;
  float: left;
  width: 30%; }
  .block-bean-mail img {
    float: left;
    width: 23%; }

.block-search {
  display: inline-block;
  width: 100%; }

.field-name-field-content .field-item {
  width: 100%;
  float: left;
  color: #fff;
  box-sizing: border-box;
  padding-right: 0%; }
  .field-name-field-content .field-item .field-item {
    width: 100%; }
  .field-name-field-content .field-item .field-name-field-titel {
    font-size: 18px; }
    .field-name-field-content .field-item .field-name-field-titel .field-item {
      padding-bottom: 18px; }
  .field-name-field-content .field-item .field-name-field-afbeelding2 {
    display: inline-block; }
  .field-name-field-content .field-item .field-name-field-link-filmrecruitz {
    float: right;
    width: 100%;
    text-align: right; }
    .field-name-field-content .field-item .field-name-field-link-filmrecruitz a {
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 10px;
      color: #000;
      font-weight: 700; }

.block-cast-crew-slideshow {
  display: none; }

.context-filmrecruitzz .field-name-title {
  width: 50%; }
  .context-filmrecruitzz .field-name-title h2 {
    font-size: 60px; }

.block-filmrecruitz-block {
  display: none; }

.block-views-eenvoudigepagina-block {
  display: none;
  width: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 10%;
  float: left;
  z-index: 100; }
  .block-views-eenvoudigepagina-block .views-row .field-name-field-link-filmrecruitz {
    position: relative;
    margin-bottom: 8px;
    width: 59%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
    .block-views-eenvoudigepagina-block .views-row .field-name-field-link-filmrecruitz a:after {
      content: "";
      background: url("img/arrow.jpg");
      background-repeat: no-repeat;
      background-size: 48px;
      height: 51px;
      width: 45px;
      position: absolute;
      right: 0;
      top: 0; }
    .block-views-eenvoudigepagina-block .views-row .field-name-field-link-filmrecruitz a {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase; }

.paragraphs-item-afbeelding-tekst-link-33-3- .field-name-field-content .field-item {
  color: #3989c9; }
  .paragraphs-item-afbeelding-tekst-link-33-3- .field-name-field-content .field-item .field-name-field-link-filmrecruitz a {
    background-color: #3989c9;
    color: #fff; }
  .paragraphs-item-afbeelding-tekst-link-33-3- .field-name-field-content .field-item .field-name-field-link-filmrecruitz {
    float: left;
    padding-top: 20px;
    width: 100%; }

#block-views-filmrecruitz-switch a {
  width: 33.3%;
  float: left; }

.region-user-first .block-block-2 {
  width: 21%;
  float: right;
  margin-top: 3px; }
  .region-user-first .block-block-2 p {
    margin: 0; }
  .region-user-first .block-block-2 a {
    font-size: 1px;
    color: transparent; }
  .region-user-first .block-block-2 a.mail:after {
    content: "";
    background-image: url("img/mail.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 17px;
    margin-right: 4px; }
  .region-user-first .block-block-2 a.home:after {
    content: "";
    background-image: url("img/home.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 17px; }

.context-filmrecruitzz .region-user-first .block-block-2, .context-filmrecruitz .region-user-first .block-block-2 {
  width: 21%;
  float: right; }
  .context-filmrecruitzz .region-user-first .block-block-2 a, .context-filmrecruitz .region-user-first .block-block-2 a {
    font-size: 1px;
    color: transparent; }
  .context-filmrecruitzz .region-user-first .block-block-2 a.mail:after, .context-filmrecruitz .region-user-first .block-block-2 a.mail:after {
    content: "";
    background-image: url("img/mailblue.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 18px;
    margin-right: 4px; }
  .context-filmrecruitzz .region-user-first .block-block-2 a.home:after, .context-filmrecruitz .region-user-first .block-block-2 a.home:after {
    content: "";
    background-image: url("img/homeblue.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 18px; }

.view-id-banner .views-row {
  margin-bottom: -10px; }

.block-block-3, .block-block-4, .block-block-5, .block-block-6, .block-block-8, .block-block-10, .block-block-9, .block-block-11 {
  width: 100%;
  float: left; }
  .block-block-3 .orange h2, .block-block-4 .orange h2, .block-block-5 .orange h2, .block-block-6 .orange h2, .block-block-8 .orange h2, .block-block-10 .orange h2, .block-block-9 .orange h2, .block-block-11 .orange h2 {
    color: #f78b1f;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 0; }
  .block-block-3 .blue h2, .block-block-4 .blue h2, .block-block-5 .blue h2, .block-block-6 .blue h2, .block-block-8 .blue h2, .block-block-10 .blue h2, .block-block-9 .blue h2, .block-block-11 .blue h2 {
    color: #3989c9;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 0; }

.node-type-crew .group-left {
  width: 100% !important; }
  .node-type-crew .group-left .field-name-field-profielfoto {
    width: 100%; }
    .node-type-crew .group-left .field-name-field-profielfoto img {
      float: left; }
.node-type-crew .group-middle {
  width: 100% !important; }
  .node-type-crew .group-middle .field-name-field-naam {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .node-type-crew .group-middle .field-name-field-over-mij {
    font-size: 15px;
    color: #3989c9; }
.node-type-crew .group-right {
  width: 100%; }
  .node-type-crew .group-right .field-name-field-ervaring {
    font-size: 15px;
    color: #3989c9; }
    .node-type-crew .group-right .field-name-field-ervaring .field-label {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      color: #000; }

/* PARAGRAPHS */
.paragraphs-item-2-kolommen-tekst-afbeelding-link {
  margin-bottom: 20px;
  font-size: 15px; }

.paragraphs-item-3-kolommen-video-s {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .paragraphs-item-3-kolommen-video-s .field-name-field-2titel {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px; }
  .paragraphs-item-3-kolommen-video-s .field-name-field-videos .field-items .field-item {
    width: 100%;
    float: left; }
    .paragraphs-item-3-kolommen-video-s .field-name-field-videos .field-items .field-item iframe {
      width: 100%;
      height: auto; }

.paragraphs-item-2-kolommen-tekst-30-afbeelding-7 {
  float: left;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .paragraphs-item-2-kolommen-tekst-30-afbeelding-7 .group-left {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-right: 12px; }
  .paragraphs-item-2-kolommen-tekst-30-afbeelding-7 .group-right {
    width: 100%;
    float: left; }

.paragraphs-item-2-kolommen-tekst-video {
  float: left;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .paragraphs-item-2-kolommen-tekst-video .group-left {
    width: 100% !important; }
  .paragraphs-item-2-kolommen-tekst-video .group-right {
    width: 100% !important; }
    .paragraphs-item-2-kolommen-tekst-video .group-right .field-name-field-video .field-items .field-item {
      width: 100%;
      float: left; }
      .paragraphs-item-2-kolommen-tekst-video .group-right .field-name-field-video .field-items .field-item iframe {
        width: 100%;
        height: auto; }

.paragraphs-item-3-kolommen-tekst-video-tekst {
  float: left;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .paragraphs-item-3-kolommen-tekst-video-tekst .field-name-field-video .field-items .field-item iframe {
    width: 100%;
    height: auto; }

a.blue {
  background-color: #3989c9;
  padding: 10px;
  color: #fff; }

a.orange {
  background-color: #f78b1f;
  padding: 10px;
  color: #fff; }

.entity-paragraphs-item .field-name-field-2titel {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2em;
  margin-top: 20px; }

.field-name-field-tekst-3-kolommen {
  float: left;
  width: 100%;
  font-size: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .field-name-field-tekst-3-kolommen .field-items .field-item {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-right: 25px; }

.node-type-news img {
  float: left; }
.node-type-news .field-name-title {
  width: 100%;
  float: left; }

.sticky-wrapper {
  height: 0 !important; }

.zone-content-wrapper {
  padding: 50px 0; }

h2 {
  color: #f78b1f;
  font-size: 46px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }

.view-id-filmfestival .views-row {
  width: 100%;
  float: left;
  text-align: center; }
  .view-id-filmfestival .views-row .views-field-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px; }
  .view-id-filmfestival .views-row .views-field-field-subtitel {
    color: #f78b1f;
    font-weight: 700;
    font-size: 18px; }
  .view-id-filmfestival .views-row a {
    color: #f78b1f !important; }

ul#superfish-1 li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #000;
  padding: 0;
  width: 100% !important;
  border-radius: 0;
  z-index: 999;
  padding-right: 30px !important; }
  ul#superfish-1 li ul li {
    float: none;
    width: 200px;
    background: none;
    margin: 0;
    color: #000;
    text-transform: uppercase;
    padding: 0 0 0 5px; }
    ul#superfish-1 li ul li a {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      padding-left: 10px !important;
      color: #fff;
      text-transform: none;
      font-weight: 300;
      border-right: none; }
    ul#superfish-1 li ul li a:hover {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      color: #fff;
      text-transform: none;
      font-weight: 300; }
    ul#superfish-1 li ul li a.active {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      color: #fff;
      text-transform: none;
      font-weight: 300; }

.sf-sub-indicator {
  display: none; }

.front .zone-preface-wrapper {
  padding-bottom: 20px; }

#views-exposed-form-cast-crew-page .form-type-radio {
  float: left; }

.paragraphs-item-3-kolommen-tekst-video-tekst .group-left {
  width: 100%; }
.paragraphs-item-3-kolommen-tekst-video-tekst .group-middle {
  width: 100%;
  margin-top: 10px; }
.paragraphs-item-3-kolommen-tekst-video-tekst .group-right {
  width: 100%;
  margin-top: 10px; }

.front .zone-preface-wrapper {
  padding-bottom: 0;
  padding-top: 0; }

.pager li.pager-next {
  right: 60px; }

.pager li.pager-last a {
  width: 60px; }

.field-name-field-paragraph-field-collection .field-items .field-item {
  border-bottom: 1px solid #f78b1f; }
  .field-name-field-paragraph-field-collection .field-items .field-item .field-item {
    border-bottom: none; }

.field-collection-item-field-event {
  border-bottom: 1px solid #f78b1f;
  padding-bottom: 50px; }
  .field-collection-item-field-event .group-right {
    width: 100%; }
    .field-collection-item-field-event .group-right .field-name-field-cta {
      background-color: #f78b1f;
      padding: 10px 20px; }
      .field-collection-item-field-event .group-right .field-name-field-cta a {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase; }
  .field-collection-item-field-event .group-left {
    width: 100%; }
  .field-collection-item-field-event .field-collection-item-field-afbeeldingen {
    width: 100%;
    float: left; }
    .field-collection-item-field-event .field-collection-item-field-afbeeldingen .field-name-field-titel {
      font-size: 15px;
      text-align: center;
      font-weight: 700;
      width: 60%;
      margin: 0 auto; }
  .field-collection-item-field-event .group-footer {
    padding-top: 43px; }

.zone-preface-wrapper {
  padding-top: 44px; }

.tips {
  margin-top: -21px; }

.front .paragraphs-item-3-kolommen-tekst-video-tekst {
  margin-bottom: 0;
  padding-bottom: 0; }

/*# sourceMappingURL=global.css.map */
