/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';

/* Algemeen */
a {
  color:$orange;
}

.zone-content-wrapper {
  padding:50px 0;
}

#zone-menu-wrapper {
  background-color:#000;
}

#zone-branding-wrapper {
  padding:10px 0 20px 0;
  background-color:#fff;
}

#zone-header {
  width:100%;
  #region-header-first {
    width:100%;
    margin:0 auto;
    .field-name-field-image {
      img {
        width:100%;
      }
    }
  }
}

.zone-footer-wrapper {
  background-color:#161515;
  padding:50px 0;
}

/* Menu */
.block-superfish-1 {
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#fff;
        text-transform:uppercase;
        font-weight:700;
        padding: 0 20px 0 20px;
        border-right:2px solid $orange;
        margin:8px 0;
      }
      a:hover {
        color:$orange;
      }
      a.active {
        color:$orange;
      }
    }
    li.last {
      a {
        border-right:0;
      }
    }
  }
}

#superfish-1-select {
  background-color:#000;
  color:#fff;
}

/* Slideshow */

#block-views-sponsoren-block {
  position:relative;
  margin:50px 0;
  .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .views-row {
    padding-right: 2%;
    float: left;
    margin: 0 auto;
    width:23%;
  }
  .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 14%;
    left: 0px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
    text-indent: -9999px;
  }
  .views-slideshow-controls-text-pause {
    display:none;
  }
  .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top:14%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
  .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
  .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
}

/* Banner */
.front {
  .field-name-field-quotes {
    display:none;
  }
}

.block-news-frontpage-block {
  display:none;
}

.views-field-field-banner {
  display:none;
}

/* Nieuws */
  .block-superfish-2 {
    float:left;
    padding-bottom:10px;
    h2.block-title {
      float: left;
      font-size: 18px;
      padding-bottom: 0;
    }
    ul {
      li {
        margin:0;
        width:100%;
        margin-left:0px;
        border-bottom: 1px dashed #ddd;
        a {
          font-size:1em;
          padding:8px 0;
          font-weight:400;
          color:#000;
        }
        a.active {
          color:$orange;
        }
      }
    }
  }

  /* Home */

.front {
  .view-header {
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 600;
    color: $orange;
  }
  .zone-content-wrapper {
    background-color: #161515;
    padding:50px 0;
    .block-main {
      width: 100%;
      float:left;
      .group-left {
        width: 100%;
      }
      .node-front {
        h2 {
          font-size: 18px;
          color: #fff;
        }
        .field-name-body {
          font-size: 14px;
          color: #fff;
        }
        .field-name-field-film {
          iframe {
            width: 100%;
            height:auto;
          }
        }
      }
    }
    .block-views-agenda-block {
      width:100%;
      float:left;
      color:$orange;
      a {
        color:$orange;
      }
    }
  }
  .zone-postscript {
    width:100%;
  }
  .region-postscript-first {
    width:100%;
    margin:0;
    img {
      width:100%;
      margin:0 auto;
    }
  }
  #region-postscript-first {
    width:100%;
  }
}

.context-contact {
  .zone-postscript {
    width:100%;
  }
  .region-postscript-first {
    width:100%;
    margin:0;
  }
  #region-postscript-first {
    width:100%;
  }
}

/* Agenda */
.front {
  #block-views-agenda-block {
    h2.block-title {
      text-transform:uppercase;
      padding-bottom:18px;
    }
    .views-field-field-datum, .views-field-title {
      font-size:14px;
    }
    .views-field-field-datum {
      width: 30%;
      float: left;
    }
    .views-field-title {
      width:70%;
      float:left;
    }
    .views-row-last {
      padding:50px 0;

    }
  }
}

.context-eventz {
  .view-agenda {
    .views-row {
      width:100%;
      margin-bottom:50px;
      float:left;
      position:relative;
      box-sizing:border-box;
      padding:2%;
      .field-name-field-datum {
        width:100%;
        float:left;
        color:$orange;
        text-align:center;
      }
      .field-name-title {
        width:100%;
        float:left;
        text-align:center;
        h2 {
          font-size:16px;
        }
      }
      .field-name-field-inhoud {
        text-align:center;
        height:150px;
      }
      .field-name-node-link {
        background-color: #000;
        width: 30%;
        margin: 0 auto;
        text-align:center;
        a {
          color:#fff;
          font-size:12px;
        }
      }
    }
  }
}

.node-agenda {
  .field-name-field-inhoud {
    margin-top:20px;
  }
  .field-name-field-afbeelding3 {
    width:100%;
    float:left;
    img {
      float:left;
    }
  }
}

.button {
  input[type="button"] {
    padding: 6px 9px;
    background: #000;
    border-radius: 0px;
    color: #fff;
    margin-top:30px;
  }
}

/* Footer */
#block-bean-logo-0, #block-bean-socialmedia {
  img {
    float:left;
  }
}

#block-bean-socialmedia {
  margin-top:20px;
  img {
    padding-right:1%;
  }
}

/* Paragraphs */
.paragraphs-item-quote {
  .field-name-field-quotes {
    font-weight:700;
    text-transform:uppercase;
    color:$orange;
    font-size:55px;
    text-align:left;
  }
  .field-name-field-naam {
    text-align:right;
  }
  .field-name-field-functie {
    text-align:right;
  }
}

.entity-paragraphs-item {
  .field-name-field-titel {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2em;
    margin-top:20px;
  }
  .field-name-field-afbeelding {
    img {
      float:left;
    }
  }
  .field-name-field-video {
    iframe {
      width:100%;
      height:auto;
    }
  }
}

/* Zinema */
#block-views-exp-zinema-page {
  .views-widget-filter-field_catogorie_tid {
    width:100%;
    label[for=edit-field-catogorie-tid] {
      margin-right:20px;
      float:left;
      font-size:16px;
      font-weight:500;
    }
    label[for=edit-field-catogorie-tid]:after {
      content:":";
    }
    .form-item {
      float:left;
      margin-right:15px;
      label {
        font-size:15px;
        font-weight:100;
      }
    }
  }
}

.view-zinema {
  .views-row {
    margin-bottom:40px;
    width:100%;
    float:left;
    height:auto;
    iframe.media-youtube-player {
      width:100%;
      height:auto;
    }
    .views-field-title {
      width:100%;
      float:left;
      a {
        color:#000;
      }
      a:hover {
        color:$orange;
        text-decoration:underline;
      }
    }
    .views-field-field-catogorie {
      width:100%;
      float:left;
      color:$orange;
    }
  }
}

.node-zinema {
  iframe.media-youtube-player {
    width:100%;
    height:auto;
  }
}

.pager li.pager-next {
  a {
    width:70px;
  }
}


/* Cavak */
.view-id-cavak {
  .views-field-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.views-field-field-crew {
  img {
    float:left;
  }
}

/* Contact */
.context-contact {
  .zone-postscript {
    p {
      margin-bottom:0;
    }
    iframe {
      height:180px;
    }
  }
}

/* Sticky menu */
.admin-menu{
  .is-sticky {
    .zone-menu-wrapper{
      top: 28px !important;
    }
  }
  .zone-menu-wrapper{
    top: 105px;
  }
}

.zone-menu-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997;
}


.is-sticky {
  .zone-menu-wrapper{
    top: 0!important;
  }
}

/* Filmrecruitz */
.context-filmrecruitz {
  #zone-branding-wrapper {
    padding:10px 0 20px 0;
    background-color:#3989c9;
  }
  .zone-footer-wrapper {
    background-color:#3989c9;
  }
}

.context-filmrecruitzz {
  #zone-branding-wrapper {
    padding:10px 0 20px 0;
    background-color:#3989c9;
  }
  .zone-footer-wrapper {
    background-color:#3989c9;
  }
  .zone-content-wrapper {
    background-image:url('img/bgfotoB.jpg');
  }
  .view-banner {
    .views-row {
      height:0;
    }
  }
  .field-name-title {
    width:100%;
    text-align:center;
    h2 {
      color:#fff;
      font-size:60px;
      font-weight:100;
    }
  }
  .field-name-field-inhoud2 {
    text-align:center;
    width:100%;
    .field-name-field-subititel {
      color:#3989c9;
      font-size:35px;
    }
    .field-name-field-tekst {
      color:#fff;
    }
  }
  .view-id-filmrecruitz {
    margin-top:50px;
    .views-row {
      width:100%;
      float:left;
      img {
        float:left;
      }
    }
  }
}

/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  span.fieldset-legend {
    color:#3989c9;
  }
  float:left;
  width:50%;
  label {
    font-size:12px;
  }
  .webform-datepicker {
     select {
      width:11%;
      float:left;
    }
  }
}

.context-filmrecruitz {
  input[type="submit"] {
    float:right;
    margin-right:10%;
  }
}
