/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Ruda", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Ruda", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Algemeen */
#zone-menu-wrapper {
  background-color: #000; }

#zone-branding-wrapper {
  padding: 10px 0 20px 0; }

#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0 auto; }
    #zone-header #region-header-first .field-name-field-image img {
      width: 100%; }

/* Menu */
.block-superfish-1 ul li a {
  font-family: "Ruda", sans-serif;
  font-size: 0.938em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px 0 20px;
  border-right: 2px solid #f78b1f;
  margin: 8px 0; }
.block-superfish-1 ul li a:hover {
  color: #f78b1f; }
.block-superfish-1 ul li a.active {
  color: #f78b1f; }
.block-superfish-1 ul li.last a {
  border-right: 0; }

/* Slideshow */
#block-views-sponsoren-block {
  position: relative;
  margin: 50px 0; }
  #block-views-sponsoren-block .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none; }
  #block-views-sponsoren-block .views-row {
    padding-right: 2%;
    float: left;
    margin: 0 auto; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 31%;
    left: 0px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 29px;
    width: 41px;
    height: 100px;
    text-indent: -9999px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-pause {
    display: none; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 31%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 29px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 29px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 29px;
    width: 41px;
    height: 100px; }

/* Banner */
#block-bean-banner .field-name-field-quote {
  position: absolute;
  width: 20%;
  font-size: 2.813em;
  color: #fff;
  top: 10%;
  padding-left: 10%;
  text-shadow: 1px 1px 1px #050505;
  font-weight: 700; }

.block-news-frontpage-block {
  position: absolute;
  right: 0;
  top: 10%;
  width: 50%;
  float: left; }
  .block-news-frontpage-block .views-row {
    margin-bottom: 10px;
    position: relative;
    width: 50%;
    padding: 11px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; }
    .block-news-frontpage-block .views-row .views-field-title a {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.125em; }
  .block-news-frontpage-block .views-field-view-node a {
    font-size: 1px;
    content: "";
    background: url("img/arrow.jpg") no-repeat 0 0;
    width: 46px;
    display: inline-block;
    height: 49px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 46px; }

/* Nieuws */
.block-superfish-2 {
  float: left;
  padding-bottom: 10px; }
  .block-superfish-2 h2.block-title {
    float: left;
    font-size: 18px;
    padding-bottom: 0; }
  .block-superfish-2 ul li {
    margin: 0;
    width: 100%;
    margin-left: 0px;
    border-bottom: 1px dashed #ddd; }
    .block-superfish-2 ul li a {
      font-size: 1em;
      padding: 8px 0;
      font-weight: 400;
      color: #000; }
    .block-superfish-2 ul li a.active {
      color: #f78b1f; }

/* Home */
.front .view-header {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 600;
  color: #f78b1f; }
.front .zone-content-wrapper {
  background-color: #161515; }
  .front .zone-content-wrapper .block-main {
    width: 66.6%;
    float: left; }
    .front .zone-content-wrapper .block-main .node-front h2 {
      font-size: 18px;
      color: #fff; }
    .front .zone-content-wrapper .block-main .node-front .field-name-body {
      font-size: 14px;
      color: #fff; }
    .front .zone-content-wrapper .block-main .node-front .field-name-field-film iframe {
      width: 374px;
      height: 255px; }
  .front .zone-content-wrapper .block-views-agenda-block {
    width: 33.3%;
    float: left;
    color: #f78b1f; }
    .front .zone-content-wrapper .block-views-agenda-block a {
      color: #f78b1f; }
.front .zone-postscript {
  width: 100%; }
.front .region-postscript-first {
  width: 100%;
  margin: 0; }
  .front .region-postscript-first img {
    width: 100%;
    margin: 0 auto; }
.front #region-postscript-first {
  width: 100%; }

.context-contact .zone-postscript {
  width: 100%; }
.context-contact .region-postscript-first {
  width: 100%;
  margin: 0; }
.context-contact #region-postscript-first {
  width: 100%; }

/*# sourceMappingURL=global.css.map */
