/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Ruda", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Ruda", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Algemeen */
a {
  color: #f78b1f; }

.zone-content-wrapper {
  padding: 50px 0; }

#zone-menu-wrapper {
  background-color: #000; }

#zone-branding-wrapper {
  padding: 10px 0 20px 0;
  background-color: #fff; }

#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0 auto; }
    #zone-header #region-header-first .field-name-field-image img {
      width: 100%; }

.zone-footer-wrapper {
  background-color: #161515;
  padding: 50px 0; }

/* Menu */
.block-superfish-1 ul li a {
  font-family: "Ruda", sans-serif;
  font-size: 0.938em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px 0 20px;
  border-right: 2px solid #f78b1f;
  margin: 8px 0; }
.block-superfish-1 ul li a:hover {
  color: #f78b1f; }
.block-superfish-1 ul li a.active {
  color: #f78b1f; }
.block-superfish-1 ul li.last a {
  border-right: 0; }

#superfish-1-select {
  background-color: #000;
  color: #fff; }

/* Slideshow */
#block-views-sponsoren-block {
  position: relative;
  margin: 50px 0; }
  #block-views-sponsoren-block .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none; }
  #block-views-sponsoren-block .views-row {
    padding-right: 2%;
    float: left;
    margin: 0 auto;
    width: 23%; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 14%;
    left: 0px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
    text-indent: -9999px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-pause {
    display: none; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top: 14%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }
  #block-views-sponsoren-block .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px; }

/* Banner */
.front .field-name-field-quotes {
  display: none; }

.block-news-frontpage-block {
  display: none; }

.views-field-field-banner {
  display: none; }

/* Nieuws */
.block-superfish-2 {
  float: left;
  padding-bottom: 10px; }
  .block-superfish-2 h2.block-title {
    float: left;
    font-size: 18px;
    padding-bottom: 0; }
  .block-superfish-2 ul li {
    margin: 0;
    width: 100%;
    margin-left: 0px;
    border-bottom: 1px dashed #ddd; }
    .block-superfish-2 ul li a {
      font-size: 1em;
      padding: 8px 0;
      font-weight: 400;
      color: #000; }
    .block-superfish-2 ul li a.active {
      color: #f78b1f; }

/* Home */
.front .view-header {
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 600;
  color: #f78b1f; }
.front .zone-content-wrapper {
  background-color: #161515;
  padding: 50px 0; }
  .front .zone-content-wrapper .block-main {
    width: 100%;
    float: left; }
    .front .zone-content-wrapper .block-main .group-left {
      width: 100%; }
    .front .zone-content-wrapper .block-main .node-front h2 {
      font-size: 18px;
      color: #fff; }
    .front .zone-content-wrapper .block-main .node-front .field-name-body {
      font-size: 14px;
      color: #fff; }
    .front .zone-content-wrapper .block-main .node-front .field-name-field-film iframe {
      width: 100%;
      height: auto; }
  .front .zone-content-wrapper .block-views-agenda-block {
    width: 100%;
    float: left;
    color: #f78b1f; }
    .front .zone-content-wrapper .block-views-agenda-block a {
      color: #f78b1f; }
.front .zone-postscript {
  width: 100%; }
.front .region-postscript-first {
  width: 100%;
  margin: 0; }
  .front .region-postscript-first img {
    width: 100%;
    margin: 0 auto; }
.front #region-postscript-first {
  width: 100%; }

.context-contact .zone-postscript {
  width: 100%; }
.context-contact .region-postscript-first {
  width: 100%;
  margin: 0; }
.context-contact #region-postscript-first {
  width: 100%; }

/* Agenda */
.front #block-views-agenda-block h2.block-title {
  text-transform: uppercase;
  padding-bottom: 18px; }
.front #block-views-agenda-block .views-field-field-datum, .front #block-views-agenda-block .views-field-title {
  font-size: 14px; }
.front #block-views-agenda-block .views-field-field-datum {
  width: 30%;
  float: left; }
.front #block-views-agenda-block .views-field-title {
  width: 70%;
  float: left; }
.front #block-views-agenda-block .views-row-last {
  padding: 50px 0; }

.context-eventz .view-agenda .views-row {
  width: 100%;
  margin-bottom: 50px;
  float: left;
  position: relative;
  box-sizing: border-box;
  padding: 2%; }
  .context-eventz .view-agenda .views-row .field-name-field-datum {
    width: 100%;
    float: left;
    color: #f78b1f;
    text-align: center; }
  .context-eventz .view-agenda .views-row .field-name-title {
    width: 100%;
    float: left;
    text-align: center; }
    .context-eventz .view-agenda .views-row .field-name-title h2 {
      font-size: 16px; }
  .context-eventz .view-agenda .views-row .field-name-field-inhoud {
    text-align: center;
    height: 150px; }
  .context-eventz .view-agenda .views-row .field-name-node-link {
    background-color: #000;
    width: 30%;
    margin: 0 auto;
    text-align: center; }
    .context-eventz .view-agenda .views-row .field-name-node-link a {
      color: #fff;
      font-size: 12px; }

.node-agenda .field-name-field-inhoud {
  margin-top: 20px; }
.node-agenda .field-name-field-afbeelding3 {
  width: 100%;
  float: left; }
  .node-agenda .field-name-field-afbeelding3 img {
    float: left; }

.button input[type="button"] {
  padding: 6px 9px;
  background: #000;
  border-radius: 0px;
  color: #fff;
  margin-top: 30px; }

/* Footer */
#block-bean-logo-0 img, #block-bean-socialmedia img {
  float: left; }

#block-bean-socialmedia {
  margin-top: 20px; }
  #block-bean-socialmedia img {
    padding-right: 1%; }

/* Paragraphs */
.paragraphs-item-quote .field-name-field-quotes {
  font-weight: 700;
  text-transform: uppercase;
  color: #f78b1f;
  font-size: 55px;
  text-align: left; }
.paragraphs-item-quote .field-name-field-naam {
  text-align: right; }
.paragraphs-item-quote .field-name-field-functie {
  text-align: right; }

.entity-paragraphs-item .field-name-field-titel {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2em;
  margin-top: 20px; }
.entity-paragraphs-item .field-name-field-afbeelding img {
  float: left; }
.entity-paragraphs-item .field-name-field-video iframe {
  width: 100%;
  height: auto; }

/* Zinema */
#block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid {
  width: 100%; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid label[for=edit-field-catogorie-tid] {
    margin-right: 20px;
    float: left;
    font-size: 16px;
    font-weight: 500; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid label[for=edit-field-catogorie-tid]:after {
    content: ":"; }
  #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid .form-item {
    float: left;
    margin-right: 15px; }
    #block-views-exp-zinema-page .views-widget-filter-field_catogorie_tid .form-item label {
      font-size: 15px;
      font-weight: 100; }

.view-zinema .views-row {
  margin-bottom: 40px;
  width: 100%;
  float: left;
  height: auto; }
  .view-zinema .views-row iframe.media-youtube-player {
    width: 100%;
    height: auto; }
  .view-zinema .views-row .views-field-title {
    width: 100%;
    float: left; }
    .view-zinema .views-row .views-field-title a {
      color: #000; }
    .view-zinema .views-row .views-field-title a:hover {
      color: #f78b1f;
      text-decoration: underline; }
  .view-zinema .views-row .views-field-field-catogorie {
    width: 100%;
    float: left;
    color: #f78b1f; }

.node-zinema iframe.media-youtube-player {
  width: 100%;
  height: auto; }

.pager li.pager-next a {
  width: 70px; }

/* Cavak */
.view-id-cavak .views-field-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-size: 30px; }

.views-field-field-crew img {
  float: left; }

/* Contact */
.context-contact .zone-postscript p {
  margin-bottom: 0; }
.context-contact .zone-postscript iframe {
  height: 180px; }

/* Sticky menu */
.admin-menu .is-sticky .zone-menu-wrapper {
  top: 28px !important; }
.admin-menu .zone-menu-wrapper {
  top: 105px; }

.zone-menu-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997; }

.is-sticky .zone-menu-wrapper {
  top: 0 !important; }

/* Filmrecruitz */
.context-filmrecruitz #zone-branding-wrapper {
  padding: 10px 0 20px 0;
  background-color: #3989c9; }
.context-filmrecruitz .zone-footer-wrapper {
  background-color: #3989c9; }

.context-filmrecruitzz #zone-branding-wrapper {
  padding: 10px 0 20px 0;
  background-color: #3989c9; }
.context-filmrecruitzz .zone-footer-wrapper {
  background-color: #3989c9; }
.context-filmrecruitzz .zone-content-wrapper {
  background-image: url("img/bgfotoB.jpg"); }
.context-filmrecruitzz .view-banner .views-row {
  height: 0; }
.context-filmrecruitzz .field-name-title {
  width: 100%;
  text-align: center; }
  .context-filmrecruitzz .field-name-title h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 100; }
.context-filmrecruitzz .field-name-field-inhoud2 {
  text-align: center;
  width: 100%; }
  .context-filmrecruitzz .field-name-field-inhoud2 .field-name-field-subititel {
    color: #3989c9;
    font-size: 35px; }
  .context-filmrecruitzz .field-name-field-inhoud2 .field-name-field-tekst {
    color: #fff; }
.context-filmrecruitzz .view-id-filmrecruitz {
  margin-top: 50px; }
  .context-filmrecruitzz .view-id-filmrecruitz .views-row {
    width: 100%;
    float: none; }
    .context-filmrecruitzz .view-id-filmrecruitz .views-row img {
      float: none; }

.bean-filmrecruitz-button {
  margin-top: 50px; }
  .bean-filmrecruitz-button .field-items .field-item {
    float: left;
    margin-right: 20px; }

/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  float: left;
  width: 100%; }
  .webform-component--persoonsgegevens span.fieldset-legend, .webform-component--over-mij span.fieldset-legend {
    color: #3989c9; }
  .webform-component--persoonsgegevens label, .webform-component--over-mij label {
    font-size: 12px; }
  .webform-component--persoonsgegevens .webform-datepicker select, .webform-component--over-mij .webform-datepicker select {
    width: 11%;
    float: left; }

.context-filmrecruitz input[type="submit"] {
  float: none;
  margin-right: 10%; }

/* Search block */
#search-block-form {
  margin-top: 20px; }
  #search-block-form input[type="submit"] {
    background: none;
    position: absolute;
    top: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    right: 0; }
  #search-block-form input[type="text"] {
    background-color: #f78b1f;
    width: 100%; }

.branding-data {
  width: 50%;
  float: left; }

#search-block-form {
  width: 40%;
  margin-left: 10%;
  float: left;
  position: relative; }

.view-id-cast_crew .views-field-field-naam {
  display: none; }
.view-id-cast_crew .field-content.image-main {
  background-color: blue;
  display: inline-block; }

/*# sourceMappingURL=global.css.map */
