/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';

/* Algemeen */
a {
  color:$orange;
}

.zone-content-wrapper {
  padding:50px 0;
}

#zone-menu-wrapper {
  background-color:#000;
}

#zone-branding-wrapper {
  padding:10px 0 20px 0;
  background-color:#fff;
}

#zone-header {
  width:100%;
  #region-header-first {
    width:100%;
    margin:0 auto;
    .field-name-field-image {
      img {
        width:100%;
      }
    }
  }
}

.zone-footer-wrapper {
  background-color:#161515;
  padding:50px 0;
}

/* Menu */
.block-superfish-1 {
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#fff;
        text-transform:uppercase;
        font-weight:700;
        padding: 0 20px 0 20px;
        border-right:2px solid $orange;
        margin:8px 0;
      }
      a:hover {
        color:$orange;
      }
      a.active {
        color:$orange;
      }
    }
    li.last {
      a {
        border-right:0;
      }
    }
  }
}

#superfish-1-select {
  background-color:#000;
  color:#fff;
}

/* Slideshow */

#block-views-sponsoren-block {
  position:relative;
  margin:50px 0;
  .views_slideshow_cycle_main {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .views-row {
    padding-right: 2%;
    float: left;
    margin: 0 auto;
    width:23%;
  }
  .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 14%;
    left: 0px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
    text-indent: -9999px;
  }
  .views-slideshow-controls-text-pause {
    display:none;
  }
  .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top:14%;
    right: 0px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
  .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
  .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 16px;
    width: 41px;
    height: 100px;
  }
}

/* Banner */
.front {
  .field-name-field-quotes {
    display:none;
  }
}

.block-news-frontpage-block {
  display:none;
}

.views-field-field-banner {
  display:none;
}

/* Nieuws */
  .block-superfish-2 {
    float:left;
    padding-bottom:10px;
    h2.block-title {
      float: left;
      font-size: 18px;
      padding-bottom: 0;
    }
    ul {
      li {
        margin:0;
        margin-left:0px;
        a {
          font-size: 18px;
          padding: 0px 11px;
          font-weight: 700;
          color: $blue;
          text-transform: uppercase;
          border-right: 1px solid $blue;
        }
        a.active {
          color:$blue;
        }
      }
      li.first {
        a {
          padding-left:0;
        }
      }
      li.last {
        a {
          border-right:none;
        }
      }
    }
  }

  /* Home */

.front {
  .view-header {
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 600;
    color: $orange;
    text-transform:uppercase;
  }
  .zone-content-wrapper {
    background-color: #161515;
    padding:50px 0;
    .block-main {
      width: 100%;
      float:left;
      .group-left {
        width: 100%;
      }
      .node-front {
        h2 {
          font-size: 18px;
          color: #fff;
          text-transform:uppercase;
        }
        .field-name-body {
          font-size: 14px;
          color: #fff;
        }
        .field-name-field-film {
          iframe {
            width: 100%;
            height:auto;
          }
        }
      }
    }
    .block-views-agenda-block {
      width:100%;
      float:left;
      color:$orange;
      a {
        color:$orange;
      }
    }
  }
  .zone-postscript {
    width:100%;
  }
  .region-postscript-first {
    width:100%;
    margin:0;
    img {
      width:100%;
      margin:0 auto;
    }
  }
  #region-postscript-first {
    width:100%;
  }
}

.context-contact {
  .zone-postscript {
    width:100%;
  }
  .region-postscript-first {
    width:100%;
    margin:0;
  }
  #region-postscript-first {
    width:100%;
  }
}

/* Agenda */
.front {
  #block-views-agenda-block {
    h2.block-title {
      text-transform:uppercase;
      padding-bottom:18px;
    }
    .views-field-field-datum, .views-field-title {
      font-size:14px;
    }
    .views-field-field-datum {
      width: 30%;
      float: left;
    }
    .views-field-title {
      width:70%;
      float:left;
    }
    .views-row-last {
      padding:50px 0;

    }
  }
}

.context-eventz {
  .view-agenda {
    .views-row {
      width:100%;
      margin-bottom:50px;
      float:left;
      position:relative;
      box-sizing:border-box;
      padding:2%;
      .field-name-field-datum {
        width:100%;
        float:left;
        color:$orange;
        text-align:center;
      }
      .field-name-title {
        width:100%;
        float:left;
        text-align:center;
        h2 {
          font-size:16px;
        }
      }
      .field-name-field-inhoud {
        text-align:center;
        height:150px;
      }
      .field-name-node-link {
        background-color: #000;
        width: 30%;
        margin: 0 auto;
        text-align:center;
        a {
          color:#fff;
          font-size:12px;
        }
      }
    }
  }
}

.node-agenda {
  .field-name-field-inhoud {
    margin-top:20px;
  }
  .field-name-field-afbeelding3 {
    width:100%;
    float:left;
    img {
      float:left;
    }
  }
}

.button {
  input[type="button"] {
    padding: 6px 9px;
    background: #000;
    border-radius: 0px;
    color: #fff;
    margin-top:30px;
  }
}

/* Footer */
#block-bean-logo-0, #block-bean-socialmedia {
  img {
    float:right;
  }
}

#block-bean-socialmedia {
  margin-top:20px;
  img {
    padding-right:1%;
  }
  .field-name-field-link-image {
    float:right;
    width:100%;

  }
}

/* Paragraphs */
.paragraphs-item-quote {
  .field-name-field-quotes {
    font-weight:700;
    text-transform:uppercase;
    color:$orange;
    font-size:55px;
    text-align:left;
  }
  .field-name-field-naam {
    text-align:right;
  }
  .field-name-field-functie {
    text-align:right;
  }
}

.entity-paragraphs-item {
  .field-name-field-titel {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2em;
    margin-top:20px;
  }
  .field-name-field-afbeelding {
    img {
      float:left;
    }
  }
  .field-name-field-video {
    iframe {
      width:100%;
      height:auto;
    }
  }
}

/* Zinema */
#block-views-exp-zinema-page {
  .views-widget-filter-field_catogorie_tid {
    width:100%;
    label[for=edit-field-catogorie-tid] {
      margin-right:20px;
      float:left;
      font-size:16px;
      font-weight:500;
    }
    label[for=edit-field-catogorie-tid]:after {
      content:":";
    }
    .form-item {
      float:left;
      margin-right:15px;
      label {
        font-size:15px;
        font-weight:100;
      }
    }
  }
}

.view-zinema {
  .views-row {
    margin-bottom:40px;
    width:100%;
    float:left;
    height:auto;
    iframe.media-youtube-player {
      width:100%;
      height:auto;
    }
    .views-field-title {
      width:100%;
      float:left;
      a {
        color:#000;
      }
      a:hover {
        color:$orange;
        text-decoration:underline;
      }
    }
    .views-field-field-catogorie {
      width:100%;
      float:left;
      color:$orange;
    }
  }
}

.node-zinema {
  iframe.media-youtube-player {
    width:100%;
    height:auto;
  }
}

.pager li.pager-next {
  a {
    width:70px;
  }
}


/* Cavak */
.view-id-cavak {
  .views-field-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.views-field-field-crew {
  img {
    float:left;
  }
}

/* Contact */
.context-contact {
  .zone-postscript {
    p {
      margin-bottom:0;
    }
    iframe {
      height:180px;
    }
  }
}

/* Sticky menu */
.admin-menu{
  .is-sticky {
    .zone-menu-wrapper{
      top: 28px !important;
    }
  }
  .zone-menu-wrapper{
    top: 105px;
  }
}

.zone-menu-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997;
}


.is-sticky {
  .zone-menu-wrapper{
    top: 0!important;
  }
}

/* Filmrecruitz */
.context-filmrecruitz {
  #zone-branding-wrapper {
    padding:10px 0 20px 0;
    background-color:#3989c9;
  }
  .zone-footer-wrapper {
    background-color:#3989c9;
  }
}

.context-filmrecruitzz {
  #zone-content-wrapper {
    background-color:$blue;
  }
  #zone-branding-wrapper {
    padding:10px 0 20px 0;
    background-color:#3989c9;
  }
  .zone-footer-wrapper {
    background-color:#3989c9;
  }
  .field-name-title {
    width:100%;
    text-align:center;
    h2 {
      color:#fff;
      font-size:60px;
      font-weight:100;
    }
  }
  .field-name-field-inhoud2 {
    text-align:center;
    width:100%;
    .field-name-field-subititel {
      color:#3989c9;
      font-size:35px;
    }
    .field-name-field-tekst {
      color:#fff;
    }
  }
  .view-id-filmrecruitz {
    margin-top:50px;
    .views-row {
      width:100%;
      float:none;
      img {
        float:none;
      }
    }
  }
}

.bean-filmrecruitz-button {
  margin-top:50px;
  .field-items {
    .field-item {
      float:left;
      margin-right:20px;
    }
  }
}

/* Webform */
.webform-component--persoonsgegevens, .webform-component--over-mij {
  span.fieldset-legend {
    color:#3989c9;
  }
  float:left;
  width:100%;
  label {
    font-size:12px;
  }
  .webform-datepicker {
     select {
      width:11%;
      float:left;
    }
  }
}

.context-filmrecruitz, .context-crew, .context-cast {
  input[type="submit"] {
    float: right;
    margin-right: 10%;
    background-color: orange;
    padding: 9px 11px;
    border-radius: 0;
    color: #fff;
    font-weight: 100;
  }
}

.context-contact {
  input[type="submit"] {
    margin-right: 10%;
    background-color: orange;
    padding: 9px 11px;
    border-radius: 0;
    color: #fff;
    font-weight: 100;
  }
}

/* Search block */
#search-block-form {
  margin-top:20px;
  input[type="submit"] {
    background: none;
    position: absolute;
    top: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    right:0;
  }
  input[type="text"] {
    background-color:$orange;
    width:100%;
  }
}

.branding-data {
  width:50%;
  float:left;
}

#search-block-form {
  width:40%;
  margin-left:10%;
  float:left;
  position:relative;
}

.view-id-cast_crew {
  .views-row {
    width:33.3%;
    float:left;
    position:relative;
  }
  .views-field-field-naam {
    display: none;
    position: absolute;
    top: 85px;
    left: 20px;

    text-align:center;
    color: #fff;
    font-size: 24px;
    z-index: 1;
    border-bottom: 1px solid;
  }
  .views-field-field-profielfoto {
    margin-top: -300px;
  }

  .field-content.image-main {
    background-color:#3989c9;
    display:inline-block;
  }

  .views-field-title{
    position: relative;
    display: inline-block;
    height: 300px;
    width: 100%;
    z-index: 5;

    span{
      display: none;
    }
  }
}

.views-widget-filter-field_catogorie_cast_crew_tid {
  width:100%;
  label[for=edit-field-catogorie-cast-crew-tid] {
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 3px;
    float:left;
  }
  .form-item-field-catogorie-cast-crew-tid {
    .form-item {
      background-color: gray;
      border-radius: 3px;
      color: #fff;
      text-align: center;
      padding: 3px 20px;
      float: left;
      margin: 0 10px;
      float:left;
    }
    .form-item.highlight {
      float:left;
      background-color: #000;
      border-radius: 3px;
      color: #fff;
      text-align: center;
      padding: 3px 20px;
      float:left;
      margin:0 10px;
    }
    input[type="checkbox"] {
      display:none;

    }
  }
}

.node-crew-cast {
  .field-name-field-naam {
     font-size:24px;
     color:#000;
  }
  .field-name-field-ervaring {
    color:$blue;
    font-size:14px;
    .field-label {
      font-size:16px;
      font-weight:100;
    }
  }
  .field-name-field-over-mij {
    color:$blue;
    font-size:14px;
    .field-label {
      font-size:16px;
      font-weight:100;
    }
  }
  .field-name-field-foto-s {
    img {
      width:50%;
      float:left;
      box-sizing: border-box;
      padding-right: 31px;
      padding-bottom: 31px;
    }
  }
}

.context-filmrecruitzz {
  .block-superfish-2 {
    display:none;
  }
}

.block-superfish-2 {
  width: 100%;
}

.block-views-exp-cast-crew-page, .block-views-exp-cast-crew-page-1 {
  width:58%;
  float:left;
}

.page-filmrecruitz-cast, .page-filmrecruitz-crew {
  .block-webform {
    width: 20%;
    float: left;
    margin-bottom: 15px;
    .field-name-title {
      a {
        background-color: #f78b1f;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        padding: 3px 20px;
        float: left;
        margin: 0 10px;
        float: left;
        font-size: 16px;
        margin-top: -11px;
      }
    }
  }
}

/* jury */

.field-name-field-jury {
  .field-items {
    .field-item {
      width:33.3%;
      float:left;
      text-align:center;
      box-sizing:border-box;
      padding:0 2px;
      .field-item {
        width:100%;
      }
    }
  }
}

.paragraphs-item-jury {
  .field-name-field-naam {
    font-size: 26px;
    font-weight: 700;
  }
  .field-name-field-functie {
    font-weight: 700;
    font-size: 18px;
    color: $orange;
  }
  .field-name-field-tekst {
    padding:0 15px;
  }
}

.paragraphs-item-links-titels-rechts-quote {
  margin-bottom:50px;
  .field-name-field-titel {
    color: $orange;
    text-align: center;
    font-size: 46px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .field-name-field-subtitel {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
  }
  .field-name-field-quote {
    font-style: italic;
    font-size: 15px;
    text-align: center;
    .field-item {
      width: 40%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

.paragraphs-item-1-kolom-tekst-33-3-breed {
  width: 33.3%;
  float: left;
  box-sizing: border-box;
  padding-right: 6%;
  word-break: break-all;
}

.region-footer-first {
  .block-menu {
    li {
      height:183px;
      float:left;
      width:25%;
      margin:0;
      padding:0;
      text-decoration:none;
      list-style:none;
      a {
        color:#fff;
        font-size:16px;

      }
      ul {
        li {
          float:none;
          width:100%;
          height:auto;
          a {
            font-size: 12px;
            font-weight: 100;
          }
        }
      }
    }
    li.last {
      height:auto;
    }
  }
}

.block-bean-mail {
  padding-top:20px;
  float:left;
  width:30%;
  img {
    float:left;
    width:23%;
  }
}

.block-search {
  width:53%;
  float:left;
  #search-block-form {
    width:87%;
  }
}

.field-name-field-content {
  .field-item {
    width: 33.3%;
    float: left;
    color: #fff;
    box-sizing: border-box;
    padding-right: 4%;
    .field-item {
      width:100%;
    }
    .field-name-field-titel {
      font-size:18px;
      .field-item {
        padding-bottom:18px;
      }
    }
    .field-name-field-link-filmrecruitz {
      float:right;
      a {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        color: #000;
        font-weight: 700;
      }
    }
  }
}


.block-cast-crew-slideshow {
  padding:20px 0;
  .views-row {
    width:25%;
    box-sizing: border-box;
    padding: 0 1%;
  }
  .views-slideshow-controls-text-previous {
    display: block;
    position: absolute;
    top: 31%;
    left: -31px;
    z-index: 100;
    background: url("img/la.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
    text-indent: -9999px;
  }
  .views-slideshow-controls-text-pause {
    display:none;
  }
  .views-slideshow-controls-text-next {
    display: block;
    position: absolute;
    top:31%;
    right: -31px;
    z-index: 100;
    text-indent: -9999px;
    background: url("img/ra.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
  }
  .views-slideshow-controls-text-previous:hover {
    background: url("img/la-hover.jpg") no-repeat center;
    background-size: 24px;
    width:24px;
    height: 100px;
  }
  .views-slideshow-controls-text-next:hover {
    background: url("img/ra-hover.jpg") no-repeat center;
    background-size: 24px;
    width: 24px;
    height: 100px;
  }
}

.context-filmrecruitzz {
  .field-name-title {
    width:50%;
    h2 {
      font-size:60px;
    }
  }
  .field-name-field-inhoud2 {
    width:50%;
    .field-name-field-subititel {
      font-size:35px;
    }
  }
  .view-id-filmrecruitz {
    margin-top:50px;
    .views-row {
      width:33.3%;
      float:left;
      img {
        float:left;
      }
    }
  }
}
